<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Module/etc/module.xsd">
    <module name="MageSuite_CmsTagManager" setup_version="1.0.0" schema_version="1.0.0">
        <sequence>
            <module name="Magento_Cms" />
            <module name="MageSuite_ContentConstructor" />
            <module name="MageSuite_ContentConstructorAdmin" />
            <module name="MageSuite_ContentConstructorFrontend" />
        </sequence>
    </module>
</config>
